/* lg */
@media (min-width: 1200px) {
	/* Make Navigation Toggle on Desktop Hover */
	.topbar-menu {
		margin-bottom: 50px;
	}
	.sidebar {
		z-index: 1;
		position: absolute;
		width: 250px;
	}
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	/* Make Navigation Toggle on Desktop Hover */

}

@media (min-width: 768px){
	.modal-dialog.risk-assessment-dialog-modal {
		width: 1000px;
	}
	.modal-dialog.risk-assessment-score-dialog-modal {
		width: 1000px;
	}}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	/* Make Navigation Toggle on Desktop Hover */
	.branch-dialog-modal {
		width: 800px !important;
	}
	.modal-dialog.risk-assessment-dialog-modal {
		width: 1000px !important;
	}
}

/* xs */
@media (max-width: 767px) {


}

/* XS Portrait */
@media (max-width: 480px) {


}