.folder-main-menu {

/*
  background: #313131;
  /*background:#ebebeb;
  color: #aaabae;
  overflow:auto;
*/
  /*width: 220px;*/

  background: #263238 !important;
  color: #cacdcd;
  /*text-align: center;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;*/

  overflow:auto;


}
.folder-main-menu #main-menu > li#search .search-input {
  background-color: #f7f7f7 !important;
  border-color: #ebebec !important;
}
.folder-main-menu #main-menu li#search {
  background-color: #f7f7f7;
  border-color: #ebebec;
}
.folder-main-menu #main-menu li ul {
  border: none;
}
.folder-main-menu #main-menu li ul > li {
  border: none;
}
.folder-main-menu #main-menu li.active > a {
  color: #ffffff;
}
.folder-main-menu .logo-env > div.sidebar-collapse a,
.folder-main-menu .logo-env > div.sidebar-mobile-menu a {
  border-color: #ebebec;
}
 .folder-main-menu .logo-env > div.sidebar-collapse a:hover {
  background: #f7f7f7;
}
body .page-container .folder-main-menu .sidebar-user-info {
  border-color: #ebebec;
}

.folder-main-menu #main-menu li a:hover {
  color: #ffffff;
}
.folder-main-menu #main-menu li.has-sub > a:before {
  color: #79869a;
}
.folder-main-menu #main-menu > li > ul li {
  border-color: #ebebec;
  border-right: 1px solid #ebebec;
}
.folder-main-menu #main-menu li ul > li ul > li > a {
  background-color: #ededed;
}
 .folder-main-menu #main-menu li ul > li ul > li ul > li > a {
  background-color: #ededed;
}
 .folder-main-menu #main-menu li ul > li ul > li ul > li ul > li > a {
  background-color: #ededed;
}
.folder-main-menu #main-menu > li > a > span:not(.badge) {
  background: #ffffff;
  border-color: #ebebec;
  border-right: 1px solid #ebebec;
}
 .folder-main-menu #main-menu > li ul {
  border-color: #ebebec;
}

 .folder-main-menu #main-menu li#search button i {
  color: #79869a;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li.active.has-sub > a:after {
  border-color: #f7f7f7 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
body .page-container.horizontal-menu header.navbar {
  background: #ffffff;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li ul li.has-sub > a:before {
  color: #79869a;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li ul li.has-sub:hover > a:before {
  color: #79869a;
}
body .page-container.horizontal-menu.with-sidebar header.navbar {
  border: none;
}
body .page-container.horizontal-menu.with-sidebar .sidebar-user-info {
  border: none;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li > a {
  color: #EFEFEF;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li.active > a, body .page-container.horizontal-menu header.navbar .navbar-nav > li.active:hover > a {
  background: #1CAF9A;
  color: #FFFFFF;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li#search {
  border-right-color: #ebebec;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li:hover > a {
  color: #1ABC9C;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li ul {
  background: #ffffff;
}
body .page-container.horizontal-menu header.navbar ul.nav > li:hover {
  background: #f2f2f2;
}
body .page-container.horizontal-menu header.navbar ul.nav > li.dropdown.open {
  background: #f2f2f2;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li ul li a {
  border-color: #ebebec;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li ul {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li ul li:hover > a {
  background: #f7f7f7;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li ul li.active > a {
  background: #f7f7f7;
  color: #79869a;
}
body .page-container.horizontal-menu header.navbar .navbar-inner > ul > li#search .search-input,
body .page-container.horizontal-menu header.navbar > ul > li#search .search-input {
  background: #f7f7f7;
  border-color: #ebebec;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li ul li:hover > a {
  color: #79869a;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li ul > li:last-child > a {
  color: #79869a;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li#search.search-input-collapsed:hover {
  border-color: #ebebec;
  background: #f7f7f7;
}
body .page-container.horizontal-menu header.navbar ul.nav > li > a,
body .page-container.horizontal-menu header.navbar ul.nav > li > span {
  color: #79869a;
}
body .entypo-menu {
  color: #79869a;
}
body .page-container .folder-main-menu #main-menu li#search .search-input {
  color: #79869a;
}
body .page-container .folder-main-menu #main-menu li#search .search-input::-webkit-input-placeholder {
  color: #79869a;
}
body .page-container .folder-main-menu #main-menu li#search .search-input:-moz-placeholder {
  color: #79869a;
}
body .page-container .folder-main-menu #main-menu li#search .search-input::-moz-placeholder {
  color: #79869a;
}
body .page-container .folder-main-menu #main-menu li#search .search-input:-ms-input-placeholder {
  color: #79869a;
}
/*
body .page-container.horizontal-menu header.navbar .navbar-nav > li ul li a {
  color: #79869a;
}
body .page-container.horizontal-menu header.navbar .navbar-inner > ul > li#search button i,
body .page-container.horizontal-menu header.navbar > ul > li#search button i {
  color: #79869a;
}
body .page-container.sidebar-collapsed .folder-main-menu #main-menu > li.has-sub:hover.has-sub > a:hover,
body .page-container.sidebar-collapsed .folder-main-menu #main-menu > li:hover.has-sub > a:hover {
  color: #79869a;
}
body .horizontal-menu header.navbar .navbar-inner > ul > li#search .search-input::-webkit-input-placeholder,
body .horizontal-menu header.navbar > ul > li#search .search-input::-webkit-input-placeholder {
  color: #79869a;
}
body .horizontal-menu header.navbar .navbar-inner > ul > li#search .search-input:-moz-placeholder,
body .horizontal-menu header.navbar > ul > li#search .search-input:-moz-placeholder {
  color: #79869a;
}
body .horizontal-menu header.navbar .navbar-inner > ul > li#search .search-input::-moz-placeholder,
body .horizontal-menu header.navbar > ul > li#search .search-input::-moz-placeholder {
  color: #79869a;
}
body .horizontal-menu header.navbar .navbar-inner > ul > li#search .search-input:-ms-input-placeholder,
body .horizontal-menu header.navbar > ul > li#search .search-input:-ms-input-placeholder {
  color: #79869a;
}
body .page-container.horizontal-menu header.navbar ul.nav > li > a {
  color: #79869a;
}
body .page-container.horizontal-menu header.navbar ul.nav > li > a:hover,
body .page-container.horizontal-menu header.navbar ul.nav > li > a:focus {
  color: #45494f;
}
body .page-container.horizontal-menu header.navbar ul.nav > li.dropdown.open > a {
  color: #79869a;
}
body .page-container.horizontal-menu header.navbar ul.nav > li.dropdown.open:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #f5f5f6 rgba(0, 0, 0, 0);
}
*/
.folder-main-menu ul li a, .folder-main-menu #main-menu li a
{
    color: #c3c3c3;
}

#folderListView li a.jstree-clicked
{
	color: #313131;
    background: #ffffff !important;
	filter: alpha(opacity=100);
	opacity: 1.0;
	font-weight: bold;
}

#folderListView li .jstree-clicked:before
{
	color: #313131 !important;
}

#folderListView li a:hover
{
	filter: alpha(opacity=100);
	opacity: 1.0;
}

#folderListView li  a.jstree-clicked:hover,.folder-main-menu #folderListView li .jstree-clicked a:hover
{
	background: #ffffff !important;
    color: #313131;
	filter: alpha(opacity=100);
	opacity: 1.0;
}

#folderListView li a
{
    background: inherit !important;
	-moz-transition: color 50ms ease-in-out, background-color 50ms ease-in-out;
    -o-transition: color 50ms ease-in-out, background-color 50ms ease-in-out;
    -webkit-transition: color 50ms ease-in-out, background-color 50ms ease-in-out;
    transition: color 50ms ease-in-out, background-color 50ms ease-in-out;
}

.fileListing .album {
  border: 1px solid #ebebeb;
  margin-bottom: 30px;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04);
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.fileListing .album header {
  position: relative;
}
.fileListing .album header img {
  line-height: 1;
  margin: 0;
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-border-radius: 3px 3px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px 3px 0 0;
  -moz-background-clip: padding;
  border-radius: 3px 3px 0 0;
  background-clip: padding-box;
}
.fileListing .album header .album-options {
  position: absolute;
  display: block;
  right: 10px;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px 7px;
  font-size: 11px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.fileListing .album header:hover .album-options {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}
.fileListing .album .album-info {
  padding: 20px;
}
.fileListing .album .album-info h3 {
  font-size: 18px;
  margin: 0;
}
.fileListing .album .album-info p {
  margin: 0;
  margin-top: 10px;
  color: #80858e;
}
.fileListing .album footer {
  border-top: 1px solid #f0f0f0;
}
.fileListing .album footer:before,
.fileListing .album footer:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.fileListing .album footer:after {
  clear: both;
}
.fileListing .album footer .album-images-count,
.fileListing .album footer .album-options {
  padding: 12px 15px;
  float: left;
  color: #8d929a;
}
.fileListing .album footer .album-images-count a,
.fileListing .album footer .album-options a {
  color: #8d929a;
  display: inline-block;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.fileListing .album footer .album-images-count a + a,
.fileListing .album footer .album-options a + a {
  margin-left: 10px;
}
.fileListing .album footer .album-options {
  float: right;
  border-left: 1px solid #f0f0f0;
  padding: 7px 10px;
}
.fileListing .album footer .album-options a {
  padding: 4px 5px;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.fileListing .album footer .album-options a:hover {
  background: #f5f5f5;
  color: #43464b;
}
.fileListing .image-thumb {
  margin-bottom: 20px;
}
.fileListing .image-thumb .image {
  position: relative;
}
.fileListing .image-thumb .image img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 3px;
  width: 100%;
}
.fileListing .image-thumb .fileOptions {
  position: absolute;
  top: 2px;
  right: 2px;
  opacity: 0;
  filter: alpha(opacity=0);

}
.fileListing .image-thumb .fileOptions a {
  display: inline-block;
  margin-left: 2px;
  background: #ffffff;
  color: #ccc;
  width: 22px;
  height: 22px;
  line-height: 22px;
  opacity: 1.0;
  filter: alpha(opacity=100);
  box-shadow: 0px 0px 2px #ffffff;
}

.fileListing .image-thumb .fileOptions .fileDownload .caret
{
  margin-left: 0px;
}

.fileListing .image-thumb .fileOptions a:hover
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.fileListing .image-thumb .fileOptions a.delete {
  background: #dd1f26;
}
.fileListing .image-thumb:hover .fileOptions {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform: scale(1, );
  -ms-transform: scale(1, );
  transform: scale(1, );
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}