/**
 *
 * any custom css
 *
*/
/*
html, body
{
    background-color: #F9F9F9;
    perspective: none;
    height: 100%;
	font-family: 'Roboto', sans-serif;
}

.page-container
{
    height: 100%;
}

.page-container.logged-out .sidebar-menu
{
	display: none;
}

.page-container.horizontal-menu.with-sidebar.logged-out
{
	padding-left: 0px;
}

.page-container.horizontal-menu.logged-out header.navbar
{
	left: 0px;
}
*/
.fileManagerDraggleSelection
{
    position: absolute;
    border: 1px solid #2F78C1;
    background-color: #BBD5EE;
    z-index: 1000;
}

.general-modal .modal-dialog, .edit-folder-modal .modal-dialog, .download-folder-modal .modal-dialog, .edit-file-modal .modal-dialog, .file-links-wrapper .modal-dialog, .download-folder-modal .modal-dialog, .filter-modal .modal-dialog
{
    max-width: 900px;
}

.stats-modal .modal-dialog
{
	max-width: 1100px;
}

.stats-modal .modal-dialog .nav-tabs
{
	margin-top: 0px;
	margin-bottom: 0px;
}

.download-folder-modal .modal-body
{
    padding: 6px;
    height: 260px;
}

.file-details-modal .modal-dialog
{
    width: 100%;
    padding: 5px;
}

.file-details-modal .nav-tabs
{
    margin-top: 0px;
    text-align: center;
}

.breadcrumb
{
    padding-top: 0px;
}

.file-listing-wrapper
{
    width: 100%;
    margin-top: 0px;
}

.file-listing-wrapper .fileManagerIcon
{
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.toolbar-container
{
    padding-top: 6px;
    padding-bottom: 6px;
}

.toolbar-container:before, .toolbar-container:after
{
    content: " ";
    display: table;
}

.toolbar-container:after
{
    clear: both;
}

.toolbar-container ul, .toolbar-container ol
{
    margin-bottom: 0px;
}

.breadcrumbs-container ul, .breadcrumbs-container ol
{
    margin-bottom: 0px;
    margin-top: 6px;
}

.remaining-storage .progress
{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 10px;
}

.remaining-storage .tile-progress .tile-footer
{
    text-align: center;
}

.remaining-storage .tile-progress
{
    cursor: pointer;
}

.per-page-menu
{
    min-width: 0px !important;
    width: 90px !important;
}

.file-details-modal .modal-body .no-bottom-margin
{
    margin-bottom: 0px;
}

.file-details-modal .modal-footer
{
    margin-top: 0px;
}

.file-details-modal .table td:first-child
{
    width: 140px;
    font-weight: bold;
}

.file-details-modal .top-detail-wrapper
{
    width: 100%;
}

.file-details-modal .top-detail-wrapper td
{
    vertical-align: top;
}

.file-details-modal .top-detail-wrapper .last-cell
{
    width: 200px;
    text-align: right;
}

.file-details-modal .button-wrapper
{
    padding-top: 4px;
    padding-bottom: 6px;
    text-align: right;
}

.file-browse-container-wrapper .button-wrapper .first-row
{
	display: block;
}

.file-browse-container-wrapper .button-wrapper .btn
{
	margin-bottom: 6px;
}

.panel-body, .image-browse
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fileManagerWrapperFullScreen
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    background-color: #EEEEEE;
}

.fileManagerWrapper, .fileManagerWrapperFullScreen
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fileManagerWrapperFullScreen
{
    padding: 5px;
}

.fileManagerWrapperFullScreen .fileManager .icon .fileListing li
{
    margin: 0px 8px 8px 0;
}

.fileManagerWrapper .fileManager .icon .fileListing li
{
    margin: 5px 10px 5px 0;
}

.pageLoadingWrapper
{
    text-align: center;
    padding-top: 100px;
    width: 96%;
}

.fileManagerWrapper .fileManager, .fileManagerWrapperFullScreen .fileManager
{
    display: inline-block;
    width: 100%;
    position: relative;
}

.fileManagerWrapper .fileListing, .fileManagerWrapperFullScreen .fileListing
{
    padding: 0px;
    margin: 0px;
}

.fileManagerIcon .fileListing .fileIconLi .thumb img
{
    position:absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin:auto;
}

.fileManagerIcon .fileListing .folderIconLi .thumbIcon .albumIcon
{
	background: url(../images/file_browser/album_top_right.png) top right no-repeat;
	position: absolute;
	top: 12px;
    right: 12px;
    bottom: 0px;
    left: 0px;
}

.fileManagerIcon .fileListing .fileIconLi, .file-browse-container-wrapper .similar-images .slick-slider .slick-slide
{
    text-align: center;
    cursor: pointer;
    z-index: 100;
    position: relative;
    border-radius: 0px;
    padding: 0px;
    border: 0px solid #EEEEEE;

	width: 160px;
	display: inline-block;
    margin: 0 19px 13px 0;
}

.fileManagerIcon .fileListing .fileIconLi span.filename, .file-browse-container-wrapper .similar-images .slick-slider .slick-slide span.filename
{
	display: block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    padding: 8px 5px 8px 5px;
}

.fileManagerList .fileListing span.filename
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fileManagerWrapper .fileManagerList .fileListing span.filename
{
    width: 400px;
}

.fileManagerWrapperFullScreen .fileManagerList .fileListing span.filename
{
    width: 65%;
    white-space: normal;
}

.fileManagerIcon .fileListing .fileIconLi:hover, .fileManagerList .fileListing .fileIconLi:hover, .fileManagerList .fileListing .fileIconLi > li:nth-child(2n+1):hover
{
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

.fileManagerIcon .fileListing .selected a, .fileManagerList .fileListing .selected a
{
    color: #fff;
}

.fileManagerIcon .fileListing .thumbIcon, .file-browse-container-wrapper .similar-images .slick-slider .slick-slide .thumbIcon, .fileManagerList .fileListing .thumbList
{
    display: inline-block;
}

.fileManagerIcon .fileListing .thumbIcon, .file-browse-container-wrapper .similar-images .slick-slider .slick-slide .thumbIcon
{
    height: 134px;
    width: 100%;
	background-color: #ffffff;

    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.fileManagerIcon .fileListing .thumbIcon img, .file-browse-container-wrapper .similar-images .slick-slider .slick-slide .thumbIcon img
{
    display: inline-block;
	max-width: 160px !important;
}

.fileManagerIcon .fileListing .selected, .fileManagerIcon .fileListing .selected:hover, .fileManagerList .fileListing .selected, .fileManagerList .fileListing .selected:hover, .fileManagerIcon .fileListing .active, .fileManagerIcon .fileListing .active:hover, .fileManagerList .fileListing .active, .fileManagerList .fileListing .active:hover
{
    background-color: #5B9BDA !important;
    color: #fff;
	opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

.fileManagerIcon .fileListing .fileIconLi .filesize, .fileManagerIcon .fileListing .fileIconLi .downloads, .fileManagerIcon .fileListing .fileIconLi .fileUploadDate, .fileManagerIcon .fileListing .fileIconLi .thumbList, .fileManagerList .fileListing .thumbIcon
{
    display: none;
}

.fileManagerIcon .fileListing .fileIconLi:hover .back
{
	display: block;
}

.fileManagerIcon .fileListing .fileIconLi .thumbIcon, .file-browse-container-wrapper .similar-images .slick-slider .slick-slide .thumbIcon
{
    background: #ffffff url(../../media/images/loading_small.gif) center center no-repeat;
    background: #ffffff url(../../media/images/loading_small.gif) center center no-repeat;
    vertical-align: middle;
	max-height: 100%;
	max-width: 100%;
}

.fileManagerIcon .fileListing .fileIconLi .thumbIcon>a
{
	/*display: inline-block;
    overflow: hidden;*/
}

.fileManagerIcon .fileListing .fileIconLi {
    list-style:none;
    behavior: expression(
        function(t){
            t.insertAdjacentHTML('afterBegin','<span class="frame_before"></span>');
            t.runtimeStyle.behavior = 'none';
        }(this)
    );
}

.fileManagerIcon .fileListing .fileIconLi .failedThumb
{
    background: rgb(255, 255, 255) url(../../media/images/red_error_small.png) center center no-repeat !important;
}

.fileManagerIcon .fileListingHeader
{
    display: none !important;
}

.fileManagerIcon div.front
{
	position: relative;
	z-index: 1001;
	background: #FFF;
	margin: 0;
}

.fileManagerIcon div.back
{
	position: absolute;
	bottom: -1px;
	left: 0;
	margin: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, .8);
    display: none;
}

.fileManagerIcon div.back p
{
	margin: 5px;
    color: #333;
    overflow:hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
	vertical-align: bottom;
	padding-bottom: 3px;
}

.fileManagerList .fileListing .filesize, .fileManagerList .fileListing .downloads, .fileManagerList .fileListing .fileUploadDate
{
    float: right;
    text-align: right;
}

.fileManagerList .fileListing .filename, .fileManagerList .fileListing .filesize, .fileManagerList .fileListing .downloads, .fileManagerList .fileListing .fileUploadDate
{
    vertical-align: top;
    display: inline-block;
    padding: 3px;
}

.fileManagerList .fileListing .fileUploadDate
{
    width: 134px;
    text-align: center;
}

.fileManagerList .fileListing .filesize
{
    width: 76px;
}

.fileManagerList .fileListing .downloads
{
    width: 80px;
    text-align: center;
}

.fileManagerList .fileListing > div
{
    padding: 6px;
    height: 36px !important;
    list-style-type: none;
    border-bottom: 1px solid #ebebeb;
    z-index: 100;
    position: relative;
}

.fileManagerList .ui-draggable-dragging
{
	width: 100% !important;
	max-width: 400px !important;
}

.fileManagerIcon .ui-draggable-dragging .back
{
	display: block;
}

.fileManagerList .fileListing .fileIconLi
{
    cursor: pointer;
	width: 100%;
}

.fileManager .fileListing .thumbList
{
    width: 25px;
}

.fileManagerMain .folderListView, .fileManagerMain .fileManagerCell
{
    float: left;
    width: 100%;
}

.fileManagerMain .folderListView
{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    background-color: #fff;
    overflow: hidden;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.fileManagerWrapper .fileManagerMain .folderListView, .fileManagerMain .fileManagerMainTable .folderTreeCell
{
    width: 272px;
}

.fileManagerWrapperFullScreen .fileManagerMain .folderListView
{
    width: 300px;
    height: 97%;
}

.fileManagerWrapper .fileManagerMain .fileManagerCell .fileManager
{
    float: left;
    width: 99.6%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    background-color: #fff;
}

.fileManagerWrapper .fileManagerMain .fileManagerCell .fileManagerList
{
    padding: 0px;
}

.fileManagerMainTable .dividerCell
{
    width: 6px;
}

.fileManagerMain .folderListView
{
    height: 590px;
    overflow: auto;
}

.fileManagerMain .fileManagerCell .fileManager
{
    height: 525px;
    overflow: auto;
}

.fileManagerMain .fileManagerMainTable td
{
    vertical-align: top;
}

.fileManagerMain .fileManagerMainTable .folderTreeCell, .fileManagerMain .fileManagerMainTable .fileManagerCell
{
    overflow: hidden;
    height: 597px;
}

.pageSectionFileManagerFull
{
    width:				100%;
    text-align:			left;
}

.fileManagerMain .statusBar
{
    font-size: 11px;
    padding-left: 5px;
    padding-top: 5px;
}

.fileManagerWrapperFullScreen .fileManagerMain
{
    height: 100%;
}

.fileManagerWrapperFullScreen .fileManagerMain .fileManagerMainTable
{
    height: 96%;
}

.fileManagerMain .fileManagerCell .pagingWrapper
{
    margin-top: 7px;
}

.fileManagerMain .fileManagerCell .pagingWrapper .rightSection
{
    display: inline;
    float: right;
}

.fileManagerMain .fileManagerCell .pagingWrapper .rightSection .button-container
{
    display: inline;
    float: right;
}

.fileManagerMain .fileManagerCell .pagingWrapper .rightSection .button-container .currentPageText:hover
{
    background-color: #fff;
    color: #333333;
    cursor: auto;
}

.fileManagerMain .fileManagerCell .pagingWrapper .pagingSelector
{
    display: inline;
    float: left;
    padding-left: 7px;
}

.fileManagerMain .fileManagerCell .pagingWrapper .pagingSelector select
{
    font-size: 10px;
    padding: 5px;
}

.fileManagerMain .fileManagerCell .pagingWrapper .lowerToolbar
{
    display: inline;
    float: right;
    padding-right: 10px;
}

.fileManagerList .fileListing .image-thumb
{
    margin-bottom: 0px;
}

.fileManagerList .fileListing > div:nth-child(2n+1)
{
    background-color: #ffffff;
}

.fileManagerList .fileListing
{
    border-top: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-collapse: collapse;
    border-spacing: 0;
}

.fileManagerList .fileListing .fileOptions
{
    display: none;
}

.internal-notification .text-bold
{
    font-weight: bold;
}

.fileManagerIcon .fileListing .fileListingHeader
{
    display: none;
}

.fileListing .fileListingHeader span
{
    font-weight: bold;
}

.fileManagerList .fileListing .fileListingHeader:hover
{
    background-color: #f8f8f8;
}

.txtCenter
{
    text-align: center;
}

.page-container .sidebar-menu .sidebar-user-info
{
    padding: 10px 0px 10px 35px;
}

.page-container .sidebar-menu .sidebar-user-info .sui-hover
{
    padding: 6px 27.5px
}

.settings-avatar
{
    float: left;
    margin-right: 12px;
}

.popover
{
    z-index: 10;
}

.page-container .sidebar-menu #folderListView li a
{
    padding: 8px 16px;
}

.page-container .sidebar-menu .sidebar-user-info .user-link img
{
    margin-right: 10px;
}

.inline-checkbox
{
    margin-top: 4px;
    padding-left: 29px;
}

.clear
{
    clear: both;
}

.hidden
{
    display: none;
}

.hiddenAlt
{
    position: absolute;
    left: -9999px;
}

.file-details-modal .nav-tabs
{
    margin-top: 10px;
    margin-bottom: 0px;
}

.file-details-modal .tab-content .tab-pane
{
    padding: 0px;
}

.file-details-modal .close
{
    background: none repeat scroll 0 0 padding-box #f0f0f1;
    border-radius: 3px;
    color: #787878;
    display: inline-block;
    font-weight: 300;
    line-height: 1;
    opacity: 0.7;
    padding: 0 5px;
    text-shadow: none;
    transition: all 300ms ease-in-out 0s;
    margin-right: 15px;
    margin-top: 13px;
}

.page-container.sidebar-collapsed .sidebar-user-info .user-link span, .page-container.sidebar-collapsed .sidebar-user-info .user-link strong
{
    opacity: 1;
    transition: opacity 300ms ease-in-out 0s;
    position: inherit;
    text-align: left;
}

.page-container.sidebar-collapsed .sidebar-user-info .user-link img
{
    transform: scale(1.0);
}

.file-manager-container
{
    border: 0;
    background-color: inherit !important;
    margin-bottom: 0px !important;
}

.file-manager-container .panel-body
{
    padding: 0px;
}

.file-manager-container .file-listing-wrapper
{
    padding-left: 0px;
    padding-right: 0px;
}

.entypo-your_files:before { content: '\e80e'; }
.entypo-upgrade:before { content: '\e8cb'; }
.entypo-default:before { content: '\e849'; }
.entypo-settings:before { content: '\e855'; }
.entypo-rewards_logged_in:before { content: '\e8c5'; }

.file-manager-container .row
{
    margin-left: 0px;
    margin-right: 0px;
}

.file-manager-container .col-md-6, .file-manager-container .col-md-12, .file-manager-container .col-sm-8, .file-manager-container .col-sm-4
{
    padding-left: 0px;
    padding-right: 0px;
}

.pluginSocialMainLoginWrapper .pluginSocialLoginDivider, .pluginSocialMainLoginWrapper #pageHeader, .pluginSocialMainLoginWrapper .introText
{
    display: none;
}

.pluginSocialMainLoginWrapper .pluginSocialLoginButtons .zocial:before
{
    width: 30px;
    height: 32px;
    padding: 0.2em 0.6em;
    margin: 0 0.7em 0 0;
}

.pluginSocialMainLoginWrapper .pluginSocialLoginButtons .zocial, .pluginSocialMainLoginWrapper .pluginSocialLoginButtons a.zocial
{
    color: #ffffff;
    font: inherit;
    text-align: left;
    text-shadow: inherit;
    box-shadow: inherit;
    border-color: transparent;
}

.pluginSocialMainLoginWrapper .pluginSocialLoginSignin .pluginSocialLoginButtons .zocial
{
    width: 100%;
    background-image: inherit;
    line-height: 2.3em;
    margin-bottom: 11px;
}

.pluginSocialLoginButtons
{
    margin-top: 26px;
}

.login-container
{
    background-image: url('../images/login-bg-1.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
	background-color: #1A477E;
    height: 100%;
}

.header-row
{
    padding-left:0px !important;
}

.uploader-container .fileupload-content .table
{
    margin-bottom: 0px;
}

.showAdditionalOptionsLink
{
    font-weight: 700;
    cursor: pointer;
}

.directionRtl .ltrOverride
{
    direction: ltr;
    text-align: right;
}

.fade
{
    opacity: 0;
    -moz-transition: opacity 0.10s linear;
    -o-transition: opacity 0.10s linear;
    -webkit-transition: opacity 0.10s linear;
    transition: opacity 0.10s linear;
}

.modal.fade .modal-dialog
{
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}


.upload-button-wrapper
{
    padding: 11px 3px;
}

.file-browse-container-wrapper .file-preview-wrapper
{
    margin: 12px;
}

.file-browse-container-wrapper .section-wrapper
{
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 16px;
}

.file-browse-container-wrapper .file-preview-wrapper .col-md-3
{
    padding-left: 0px;
}

.file-browse-container-wrapper .file-preview-wrapper .text-section
{
    display: inline-block;
	padding-left: 7px;
	color: #999999;
	vertical-align: middle;
}

.file-browse-container-wrapper .file-preview-wrapper .text-section-1
{
    font-size: 18px;
	display: block;
	color: #646464;
}

.file-browse-container-wrapper .file-preview-wrapper .text-section-2
{
    font-size: 14px;
	color: #999999;
}

.file-browse-container-wrapper .file-preview-wrapper .col-md-3 .tab-content
{
    background-color: #ffffff;
    margin-top: -1px;
}

.file-browse-container-wrapper .file-preview-wrapper .col-md-3 .nav-tabs > li:first-child > a
{
    margin-left: 0px;
}

.file-browse-container-wrapper .file-preview-wrapper .col-md-3 .nav-tabs > li > a
{
    padding: 7px 12px;
}

.file-browse-container-wrapper .file-preview-wrapper .col-md-3 .tab-content .tab-pane
{
    padding: 10px;
}

.file-browse-container-wrapper .file-preview-wrapper .col-md-3 .nav-tabs > li.active > a, .file-browse-container-wrapper .file-preview-wrapper .col-md-3 .nav-tabs > li.active > a:hover, .file-browse-container-wrapper .file-preview-wrapper .col-md-3 .nav-tabs > li.active > a:focus
{
    border: none;
}

.file-browse-container-wrapper .file-preview-wrapper .col-md-3 .nav-tabs
{
    margin: 0px;
}

.file-browse-container-wrapper .file-preview-wrapper .col-md-3 .image-data
{
    max-height: 340px;
    overflow: auto;
}

.file-browse-container-wrapper .file-preview-wrapper .image-name-title
{
    font-size: 24px;
}

.file-browse-container-wrapper .file-preview-wrapper .image-section-title
{
    font-size: 20px;
}

.file-browse-container-wrapper .file-preview-wrapper .image-social-sharing
{
    float: right;
}

.file-browse-container-wrapper .section-wrapper .table
{
    margin-bottom: 0px;
}

.file-browse-container-wrapper .section-wrapper .image-preview
{
    max-width: 100%;
    max-height: 100%;
}

.file-browse-container-wrapper .section-wrapper .image-fullscreen-link
{
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
	position: absolute;
    right: 11px;
    top: 11px;
    font-size: 20px;
	display: none;
}

.file-browse-container-wrapper .section-wrapper.image-preview-wrapper:hover .image-fullscreen-link
{
	display: block;
}

.file-browse-container-wrapper .section-wrapper .prev-link, .file-browse-container-wrapper .section-wrapper .next-link {
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
    font-size: 44px;
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
}

.file-browse-container-wrapper .section-wrapper .prev-link
{
    left: 0;
    text-align: left;
	margin-left: 28px;
}

.file-browse-container-wrapper .section-wrapper .next-link
{
    right: 10px !important;
    text-align: right;
	margin-right: 16px;
}

.file-browse-container-wrapper .section-wrapper .prev-link i:before, .file-browse-container-wrapper .section-wrapper .next-link i:before
{
	width: 23px;
	margin-right: 0px;
	margin-left: 0px;
}

.file-browse-container-wrapper .section-wrapper .prev-link:hover, .file-browse-container-wrapper .section-wrapper .next-link:hover
{
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    color: #373e4a;
}

.file-browse-container-wrapper .section-wrapper .prev-link i, .file-browse-container-wrapper .section-wrapper .next-link i
{
    position: relative;
    vertical-align: middle;
    top: 38%;
    text-shadow: 0px 0px 1px #ffffff;
}

.file-browse-container-wrapper .image-preview-wrapper
{
    text-align: center;
    position: relative;
    min-height: 340px;
    width: 100%;
}

.file-browse-container-wrapper .image-preview-wrapper .image
{
    margin: 0px auto;
}

.file-browse-container-wrapper .similar-images
{
    text-align: center;
}

.file-browse-container-wrapper .similar-images .slick-slider
{
    margin-top: 8px;
}

.file-browse-container-wrapper .similar-images .slick-slider .slick-slide
{

	background: rgb(255, 255, 255) url(../../media/images/loading_small.gif) center center no-repeat;
    background: rgba(255, 255, 255, .5) url(../../media/images/loading_small.gif) center center no-repeat;
}

.file-browse-container-wrapper .similar-images .slick-slider .slick-slide:hover
{
	opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

.file-browse-container-wrapper .similar-images .slick-slider .slick-slide img
{
	max-width: 100%;
	height: auto;
	max-height: 100%;
	display: inline-block;
}

.file-browse-container-wrapper .pre-image-cache-wrapper
{
	display: none;
}

.file-browse-container-wrapper .pre-image-cache-wrapper img
{
	width: 1px;
	height: 1px;
}

.breadcrumb.pull-right
{
    padding: 6px 8px 0px 0px;
}

.paginationRow
{
    padding: 0px 12px 12px 12px;
}

.paginationRow .paginationWrapper
{
    text-align: center;
    background-color: #ffffff;
}

.page-container .navbar-fixed-top panel-heading
{
    -webkit-box-shadow: 0px 4px 3px -4px rgba(194,194,194,1);
    -moz-box-shadow: 0px 4px 3px -4px rgba(194,194,194,1);
    box-shadow: 0px 4px 3px -4px rgba(194,194,194,1);
}

.btn-toolbar .fileActionLinks
{
    border-color: #ebebeb;
}

.sidebar-menu .siderbar-logo
{
	padding: 12px 15px 10px 15px;
	margin-bottom: 6px;
    width: 100%;
    background-color: #373737;
}

.sidebar-menu .siderbar-logo img
{
	width: 90%;
	max-width: 200px;
}

.padder
{
	padding-right: 15px;
	padding-left: 15px;
}

.rounded
{
	border-radius: 500px;
}

.bg-light
{
	color: #58666e;
	background-color: #edf1f2;
}

.bg-orange
{
    color: #fff;
    background-color: #ff5722;
}

.page-container.horizontal-menu header.navbar ul.nav > li.dropdown .dropdown-menu .account-menu
{
	padding: 15px;
	margin-bottom: -10px;
	border-bottom: 1px solid #dee5e7;
	margin-top: -5px;
	margin-bottom: 0px;
}

.page-container.horizontal-menu header.navbar ul.nav > li.dropdown .dropdown-menu .account-menu .progress
{
	height: 6px;
	margin-bottom: 0px;
}

.page-container.horizontal-menu header.navbar ul.nav > li .avatar
{
	position: relative;
	margin-top: -10px;
}

.page-container.horizontal-menu header.navbar ul.nav > li > a
{
	padding-top: 18px !important;
	padding-bottom: 18px !important;
}

.navbar-form
{
	padding: 0px 10px;
}

.navbar-form-sm
{
	width: 260px;
}

.navbar-form-sm .input-group-btn .btn:last-child
{
	padding-left: 0px;
}

.navbar-form-sm .input-sm
{
	height: 33px;
	font-size: 13px;
}

.navbar-form-sm .btn-sm
{
	font-size: 14px;
}

.page-container.horizontal-menu header.navbar .account-nav-icon .thumb-sm
{
	margin-left: 10px;
	margin-bottom: -10px;
}

.page-container.horizontal-menu header.navbar .account-nav-icon .user-screen-name, .page-container.horizontal-menu header.navbar .account-nav-icon b
{
	color: #58666e;
	font-size: 14px;
}

.page-container .sidebar-menu .main-menu .nav-section-header
{
	padding-right: 15px;
	padding-left: 15px;
	font-size: 12px;
	color: #8B8E98 !important;
	margin-top: 16px !important;
}

.page-container .sidebar-menu .main-menu .nav-section-header:first-child
{
	margin-top: 0px !important;
}

.page-container .sidebar-menu .main-menu li a>i {
	position: relative;
	float: left;
	width: 40px;
	margin: -13px -10px;
	margin-right: 5px;
	overflow: hidden;
	line-height: 40px;
	text-align: center;
}

.page-container .sidebar-menu .main-menu .badge
{
	padding: 2px 5px;
	font-size: 10px;
	color: #c6efd0;
	background-color: #27c24c;
	font-weight: bold;
}

.page-container.horizontal-menu header.navbar ul.nav > li.account-nav-icon > a
{
	padding: 14px 10px !important;
}

.profile-background-cover
{
	margin-bottom: -65px;
	position: relative;
	border-left: 1px solid #aaaaaa;
}

.profile-background-cover div
{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

 .user-profile
{
	background-color: #EEEEEE;
	margin-top: -30px;
	margin-left: -20px;
	margin-right: -20px;
	padding: 10px 20px 0px 20px;
}

.profile-info-tabs .nav-tabs
{
	margin-top: 0px;
}

.background-overlay
{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	background-color: #ffffff;
}

.image-browse .fileListing
{
	padding: 0px;
	margin: 4px 0px;
}

.image-browse .fileManagerList .fileListing
{
	text-align: left;
}

.gallery-env .col-sm-3
{
	padding-left: 5px;
	padding-right: 5px;
}

.file-browse-container-wrapper .image-liked .entypo-heart
{
	color: #ff4e50;
}

.file-browse-container-wrapper .button-wrapper
{
	text-align: center;
}

.plugin-webdav-left-nav-footer
{
	margin-top: 0px !important;
}

.album .images .image-1
{
	width: 100%;
	display: inline-block;
	position: relative;
	float: left;
	overflow: hidden;
	border-bottom: 3px solid #ffffff;
}

.album .images a
{
	box-sizing: border-box;
}

.album .images .sub-images a
{
	display: block;
}

.album .images .sub-images .col-sm-4
{
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	padding-right: 0px;
	padding-left: 0px;
}

.album .images .sub-images .col-sm-4:first-child
{
	border-left: 0px;
	border-right: 2px solid #ffffff;
}

.album .images .sub-images .col-sm-4:last-child
{
	border-right: 0px;
	border-left: 2px solid #ffffff;
}

.ajax-error-image
{
	background-image: url('../images/ajax_error.png');
    background-repeat: no-repeat;
    background-position: center;
	width: 100%;
	min-height: 100vh;
	height: 100vh;
}

.ajax-loading-image
{
	background-image: url('../images/pleaseWait.gif');
    background-repeat: no-repeat;
    background-position: center;
	width: 100%;
	min-height: 100vh;
	height: 100vh;
}

.image-browse .gallery-env
{
	margin: -2px 9px 2px 9px;
}

.image-browse .toolbar-container .right-toolbar-options
{
	padding: 0px 12px;
}

.gallery-env .paginationRow
{
	padding: 0px 5px 5px 5px;
}

.gallery-env .album .text-section
{
    display: inline-block;
	padding-left: 10px;
	color: #999999;
	vertical-align: middle;
	width: 100%;
	margin-left: -84px;
    padding-left: 90px;
}

.gallery-env .album .text-section-1
{
    font-size: 18px;
	display: block;
	color: #646464;
}

.gallery-env .album .text-section-2
{
    font-size: 14px;
	color: #999999;
	overflow: hidden;
    text-overflow: ellipsis;
}

.gallery-env article.album .album-info
{
	padding: 10px 4px 8px 4px;
}

.gallery-env article.album .album-info .album-image-overview-stats
{
	display: block;
	margin-top: 6px;
}

.gallery-env article.album .album-info .album-image-overview-stats > div
{
	display: inline;
	padding-right: 4px;
}

.gallery-env article.album .album-info h3
{
	font-weight: 600;
}




.share-wrapper::selection {
background: transparent;
}

.share-wrapper {
  text-align:center;
  right:0;
  height: 20px;
  width: 34px;
  float: right;
}

.share-wrapper input[type="checkbox"]{display:none;}

.share-wrapper .checkbox:checked + .label{
  background:#7B7484;
  color:#231733;
}

.share-wrapper .checkbox:checked ~ .social {
  opacity:1;
  -webkit-transform: scale(1) translateX(-124px);
  -moz-transform:scale(1) translateX(-124px);
  -o-transform:scale(1) translateX(-124px);
  transform:scale(1) translateX(-124px);
    -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

.share-wrapper .label {
  font-size:12px;
  cursor:pointer;
  margin:0;
  padding:5px 10px;
  
  border-radius:10%;
  color:#7B7484;
}

.share-wrapper .social {
  transform-origin:50% 0%;
  -webkit-transform: scale(0) translateX(-224px);
  -moz-transform:scale(0) translateX(-224px);
  -o-transform:scale(0) translateX(-224px);
  transform:scale(0) translateX(-224px);
  
  opacity:0;
}
.share-wrapper ul {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  margin-left: -10px;
  margin-top: -29px;
  color: #fff;
  height: 38px;
  width: 120px;
  background: #3B5998;
  padding: 0;
  list-style: none;
}

.share-wrapper ul li {
  font-size:16px;
  cursor: pointer;
  width: 40px;
  margin:0;
  padding:9px 0;
  text-align:center;
  float:left;
  display:block;
  height:38px;
}

.share-wrapper ul a
{
	color: #ffffff;
}

.share-wrapper ul li:hover {color:rgba(0,0,0,.5);}

.share-wrapper ul:after {
  content:'';
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  margin: auto 120px;
  height:0;
  width:0;
  left: 0;
  
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #E34429;
}

.share-wrapper li[class*="twitter"] {
    background: #6CDFEA;
}

.share-wrapper li[class*="facebook"] {
    background: #3B5998;
}

.share-wrapper li[class*="gplus"] {
    background: #E34429;
}

.page-container .main-content.browse-page
{
	padding: 10px 20px;
}

.browse-page .nav-pills
{
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 2px;
}

.browse-page .tab-content
{
	margin-left: -10px;
	margin-right: -10px;
}
/*
.nav-pills > li > a
{
	background-color: #dddddd;
}

.nav-pills > li > a:hover
{
	background-color: #cccccc;
	color: #000000;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus
{
	color: #ffffff;
    background-color: #3A3F51;
}
*/
.browse-category h3
{
	margin-top: 0px;
}

.browse-category .category-section
{
	margin-bottom: 20px;
}

.browse-category .category-section .panel-body
{
	padding-top: 5px;
	padding-bottom: 0px;
}

.browse-category .category-section .panel-title
{
	width: 100%;
}

.browse-category .category-section .panel-title a
{
	display: block;
}

.responsive-thumb
{
	max-width: 100%;
	max-height: 100%;
	min-width: 30px;
	min-height: 30px;
	width: 100%;
}

.browse-category .basic-image-layout .image-thumb
{
	padding-left: 5px;
    padding-right: 5px;
	padding-bottom: 8px;
}

.album-listing-wrapper
{
	padding: 0px 10px;
}

.page-container .main-content.browse-page .image-browse
{
	margin-left: -15px;
    margin-right: -15px;
}

.page-container .main-content.browse-page .image-browse .gallery-env
{
	margin: -2px 12px 2px 12px;
}

panel-heading .input-group > .twitter-typeahead:first-child .typeahead
{
	-webkit-border-radius: 500px 0 0 500px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 500px 0 0 500px;
    -moz-background-clip: padding;
    border-radius: 500px 0 0 500px;
}

panel-heading .input-group .form-control
{
	width: 100%;
}

.profile-feed #fileManager
{
	margin-left: -15px;
	margin-right: -15px;
}

#profile-page .paginationWrapper
{
	background-color: transparent;
}

.login-page-wrapper {
    background: #303641;
}

.image-colors-wrapper div
{
	width: 20px;
	float: left;
	height: 20px;
	margin-right: 3px;
	margin-bottom: 3px;
	border-radius: 3px;
}

#profile-page .profile-env > header .profile-info-sections > li
{
    padding: 0 30px;
}

.responsive-top-search .icon-line-cross {
    color:#fff;
}

.file-browse-container-wrapper .file-preview-wrapper > .row
{
	margin-right: -12px;
}

.page-container .sidebar-menu > div.sidebar-mobile-menu a
{
	display: inline-block;
    border: 1px solid #454a54;
    text-align: center;
    padding: 0;
    line-height: 1;
    font-size: 20px;
    font-weight: 300;
    padding: 5px 2px;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.page-container .sidebar-menu > div.sidebar-mobile-menu
{
	position: relative;
    float: right;
	vertical-align: middle;
    white-space: nowrap;
	margin: 16px 12px 0px 0px;
}

.breadcrumb > li a {
    word-break: break-all;
    word-wrap: normal;
}

.file-browse-container-wrapper .file-preview-wrapper .image-name-title {
    word-break: break-all;
    word-wrap: normal;
}

.file-browse-container-wrapper .file-preview-wrapper .text-section-1 {
    word-break: break-all;
    word-wrap: normal;
}

.file-browse-container-wrapper .file-preview-wrapper .text-section-2 {
    word-break: break-all !important;
    word-wrap: normal !important;
}

.page-container .sidebar-menu > div.sidebar-mobile-upload a
{
	display: inline-block;
    border: 1px solid #21a9e1;
    text-align: center;
    padding: 0;
    line-height: 1;
    font-size: 12px;
    font-weight: 300;
    padding: 9px 11px;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
	color: #ffffff;
	background-color: #21a9e1;
}

.page-container .sidebar-menu > div.sidebar-mobile-upload
{
	position: relative;
    float: right;
	vertical-align: middle;
    white-space: nowrap;
	margin: 16px 12px 16px 0px;
}

.page-body .page-container.horizontal-menu header.navbar ul.mobile-account-toolbar-wrapper
{
	position: inherit !important;
}




.image-social-sharing .mobile-social-share {
    display: block !important;
}

.image-social-sharing
{
	margin: 3px 0px 0px 15px;
}

.image-social-sharing .share-group {
    float: right;
    margin: 0 15px 0 0px;
}

.image-social-sharing .btn-group {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.image-social-sharing .mobile-social-share ul {
    float: right;
    list-style: none outside none;
    margin: 3px 0 0 -7px;
    min-width: 61px;
    padding: 0;
}

.image-social-sharing .share {
    min-width: 17px;
}

.image-social-sharing .mobile-social-share li {
    display: block;
    font-size: 18px;
    list-style: none outside none;
    margin-bottom: 3px;
    margin-left: 4px;
    margin-top: 3px;
}

.image-social-sharing .btn-share {
    background-color: #BEBEBE;
    border-color: #CCCCCC;
    color: #333333;
}

.image-social-sharing .dropdown-menu .btn
{
	width: 51px;
    color:#FFFFFF!important;
}

.image-social-sharing .btn-twitter {
    background-color: #3399CC !important;
}

.image-social-sharing .btn-facebook {
    background-color: #3D5B96 !important;
}

.image-social-sharing .btn-facebook {
    background-color: #3D5B96 !important;
}

.image-social-sharing .btn-google {
    background-color: #DD3F34 !important;
}

.image-social-sharing .btn-linkedin {
    background-color: #1884BB !important;
}

.image-social-sharing .btn-pinterest {
    background-color: #CC1E2D !important;
}

.image-social-sharing .btn-mail {
    background-color: #FFC90E !important;
}

.btn-reddit {
    background-color: #FF5700 !important;
    color: #fff;
}
.btn-reddit:hover {
    background-color: #cc4600 !important;
    color: #fff;
}
.btn-digg {
    background-color: #286091 !important;
    color: #fff;
}
.btn-digg:hover {
    background-color: #214f78 !important;
    color: #fff;
}
.btn-stumbleupon {
    background-color: #EB4823 !important;
    color: #fff;
}
.btn-stumbleupon:hover {
    background-color: #d23713 !important;
    color: #fff;
}
.btn-tumblr {
    background-color: #34465D !important;
    color: #fff;
}
.btn-tumblr:hover {
    background-color: #253141 !important;
    color: #fff;
}

.image-social-sharing .caret {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
}

.image-social-sharing #socialShare > a{
    padding: 4px 7px 4px 7px;
}

.image-social-sharing .btn-group > .btn + .dropdown-toggle
{
	padding: 4px 6px;
}

.file-preview-wrapper .account-dropdown-resize-menu
{
	text-align: left;
}

.fileManagerList .fileListing .filename, .fileManagerList .fileListing .filesize, .fileManagerList .fileListing .downloads, .fileManagerList .fileListing .fileUploadDate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.navbar-form .form-group
{
	width: 100%;
}

.navbar-form-sm
{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

@media (min-width: 1023px){
	.navbar-form-sm.focused
	{
	   width: 360px;
	}
}

.content-preview-wrapper
{
    background-repeat: no-repeat;
    background-position: center;
	min-height: 300px;
}

.content-preview-wrapper.loader
{
	background-image: url('../images/pleaseWait.gif');
}

.content-preview-wrapper .preview-download-wrapper
{
	max-width: 400px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 70px 0px 70px 0px;
}

.content-preview-wrapper .preview-download-wrapper .tile-stats.download:hover
{
	opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

.content-preview-wrapper .preview-download-wrapper .tile-stats
{
	cursor: pointer;
}

.content-preview-wrapper .preview-download-wrapper .tile-stats img
{
	margin-bottom: 4px;
}

.content-preview-wrapper .preview-download-wrapper .tile-stats p
{
	color: #646464;
}

.dropdown-menu
{
	border-radius: 0px;
	font-size: 13px;
	box-shadow: 1px 1px 2px #ccc;
}

.dropdown-menu > li > a
{
	border-radius: 0px;
	margin: 0 0 0 0px;
    padding: 6px 10px;
	color: #646464;
}

.dropdown-menu .context-menu-icon
{
	width: 21px;
	text-align: center;
	margin: 0px 7px 0px 0px;
	display: inline-block
}

.dropdown-menu .context-menu-icon .glyphicon
{
	top: 2px;
}

.dropdown-menu > li:hover
{
	background-color: #f5f5f5;
    color: #717379;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
{
	background-color: unset;
    color: unset;
}

.dropdown-menu .menu-item-view, .dropdown-menu .menu-item-download, .dropdown-menu .menu-item-edit, .dropdown-menu .menu-item-delete, .dropdown-menu .menu-item-links, .dropdown-menu .menu-item-stats, .dropdown-menu .menu-item-select
{
	background-position: 12px 3px;
	background-repeat: no-repeat;
}
/*
.dropdown-menu .menu-item-view
{
	background-image: url(../../media/images/menu_icons/document.png);
	background-position: 14px 3px;
}

.dropdown-menu .menu-item-download
{
	background-image: url(../images/menu_icons/cloud_download.png);
	background-position: 12px 6px;
}

.dropdown-menu .menu-item-edit
{
	background-image: url(../images/menu_icons/document_edit.png);
}

.dropdown-menu .menu-item-delete
{
	background-image: url(../images/menu_icons/document_delete.png);
}

.dropdown-menu .menu-item-links
{
	background-position: 13px 6px;
	background-image: url(../images/menu_icons/folder_blue_net.png);
}

.dropdown-menu .menu-item-stats
{
	background-position: 13px 4px;
	background-image: url(../images/menu_icons/globe_3.png);
}

.dropdown-menu .menu-item-select
{
	background-position: 13px 4px;
	background-image: url(../images/menu_icons/magic_wand.png);
}
*/

/** breadcrumbs **/
.btn-breadcrumb
{
	margin: 0px 4px 0px -6px !important;
    padding: 0px !important;
}
.btn-breadcrumb .dropdown-menu
{
	right: 0px;
	left: auto;
}
.btn-breadcrumb .btn.btn-white.mid-item:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn.btn-white.mid-item:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn.btn-white {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn.btn-white:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn.btn-white:last-child {
  padding:6px 18px 6px 24px;
}

.btn-breadcrumb .btn.btn-white.mid-item:after {
  border-left: 10px solid #ffffff;
}
.btn-breadcrumb .btn.btn-white.mid-item:before {
  border-left: 10px solid #ededed;
}
.btn-breadcrumb .btn.btn-white.mid-item:hover:after, .btn-breadcrumb .btn.btn-white.mid-item:focus:after {
  border-left: 10px solid #ededed;
}
.btn-breadcrumb .btn.btn-white.mid-item:hover:before, .btn-breadcrumb .btn.btn-white.mid-item:focus:before {
  border-left: 10px solid #ededed;
}

.alert.no-files-alert
{
    padding-top: 8px;
    color: #6e6e6e;
	font-size: 22px;
	width: 100%;
	display:table;
	cursor: pointer;
}

.alert.no-files-alert:hover
{
	opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

.alert.no-files-alert i
{
	font-size: 58px;
    display: table-cell;
    width: 86px;
}

.alert.no-files-alert span
{
	display:table-cell;
	vertical-align: middle;
}

.modal-body .modal-icon-left
{
	text-align: center;
    padding: 4px;
}

.modal-body .modal-icon-left img
{
	max-width: 170px;
	max-height: 170px;
}

.link-section
{
    word-wrap: break-word;
}

.chartWrapper
{
    text-align: center;
}

.modal-title
{
    word-wrap: break-word;
}

.center
{
	text-align: center;
}

.social-wrapper
{
	margin: 8px 0px 22px 0px;
	display: block;
}

.social-wrapper .btn-social-icon
{
    position: relative;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    width: 31px;
    padding: 0;
	font-size: 20px;
	padding-right: 1px;
}

.btn-bitbucket{color:#fff;background-color:#205081;border-color:rgba(0,0,0,0.2)}.btn-bitbucket:hover,.btn-bitbucket:focus,.btn-bitbucket:active,.btn-bitbucket.active,.open .dropdown-toggle.btn-bitbucket{color:#fff;background-color:#183c60;border-color:rgba(0,0,0,0.2)}
.btn-bitbucket:active,.btn-bitbucket.active,.open .dropdown-toggle.btn-bitbucket{background-image:none}
.btn-bitbucket.disabled,.btn-bitbucket[disabled],fieldset[disabled] .btn-bitbucket,.btn-bitbucket.disabled:hover,.btn-bitbucket[disabled]:hover,fieldset[disabled] .btn-bitbucket:hover,.btn-bitbucket.disabled:focus,.btn-bitbucket[disabled]:focus,fieldset[disabled] .btn-bitbucket:focus,.btn-bitbucket.disabled:active,.btn-bitbucket[disabled]:active,fieldset[disabled] .btn-bitbucket:active,.btn-bitbucket.disabled.active,.btn-bitbucket[disabled].active,fieldset[disabled] .btn-bitbucket.active{background-color:#205081;border-color:rgba(0,0,0,0.2)}
.btn-dropbox{color:#fff;background-color:#1087dd;border-color:rgba(0,0,0,0.2)}.btn-dropbox:hover,.btn-dropbox:focus,.btn-dropbox:active,.btn-dropbox.active,.open .dropdown-toggle.btn-dropbox{color:#fff;background-color:#0d70b7;border-color:rgba(0,0,0,0.2)}
.btn-dropbox:active,.btn-dropbox.active,.open .dropdown-toggle.btn-dropbox{background-image:none}
.btn-dropbox.disabled,.btn-dropbox[disabled],fieldset[disabled] .btn-dropbox,.btn-dropbox.disabled:hover,.btn-dropbox[disabled]:hover,fieldset[disabled] .btn-dropbox:hover,.btn-dropbox.disabled:focus,.btn-dropbox[disabled]:focus,fieldset[disabled] .btn-dropbox:focus,.btn-dropbox.disabled:active,.btn-dropbox[disabled]:active,fieldset[disabled] .btn-dropbox:active,.btn-dropbox.disabled.active,.btn-dropbox[disabled].active,fieldset[disabled] .btn-dropbox.active{background-color:#1087dd;border-color:rgba(0,0,0,0.2)}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-flickr{color:#fff;background-color:#ff0084;border-color:rgba(0,0,0,0.2)}.btn-flickr:hover,.btn-flickr:focus,.btn-flickr:active,.btn-flickr.active,.open .dropdown-toggle.btn-flickr{color:#fff;background-color:#d6006f;border-color:rgba(0,0,0,0.2)}
.btn-flickr:active,.btn-flickr.active,.open .dropdown-toggle.btn-flickr{background-image:none}
.btn-flickr.disabled,.btn-flickr[disabled],fieldset[disabled] .btn-flickr,.btn-flickr.disabled:hover,.btn-flickr[disabled]:hover,fieldset[disabled] .btn-flickr:hover,.btn-flickr.disabled:focus,.btn-flickr[disabled]:focus,fieldset[disabled] .btn-flickr:focus,.btn-flickr.disabled:active,.btn-flickr[disabled]:active,fieldset[disabled] .btn-flickr:active,.btn-flickr.disabled.active,.btn-flickr[disabled].active,fieldset[disabled] .btn-flickr.active{background-color:#ff0084;border-color:rgba(0,0,0,0.2)}
.btn-foursquare{color:#fff;background-color:#0072b1;border-color:rgba(0,0,0,0.2)}.btn-foursquare:hover,.btn-foursquare:focus,.btn-foursquare:active,.btn-foursquare.active,.open .dropdown-toggle.btn-foursquare{color:#fff;background-color:#005888;border-color:rgba(0,0,0,0.2)}
.btn-foursquare:active,.btn-foursquare.active,.open .dropdown-toggle.btn-foursquare{background-image:none}
.btn-foursquare.disabled,.btn-foursquare[disabled],fieldset[disabled] .btn-foursquare,.btn-foursquare.disabled:hover,.btn-foursquare[disabled]:hover,fieldset[disabled] .btn-foursquare:hover,.btn-foursquare.disabled:focus,.btn-foursquare[disabled]:focus,fieldset[disabled] .btn-foursquare:focus,.btn-foursquare.disabled:active,.btn-foursquare[disabled]:active,fieldset[disabled] .btn-foursquare:active,.btn-foursquare.disabled.active,.btn-foursquare[disabled].active,fieldset[disabled] .btn-foursquare.active{background-color:#0072b1;border-color:rgba(0,0,0,0.2)}
.btn-github{color:#fff;background-color:#444;border-color:rgba(0,0,0,0.2)}.btn-github:hover,.btn-github:focus,.btn-github:active,.btn-github.active,.open .dropdown-toggle.btn-github{color:#fff;background-color:#303030;border-color:rgba(0,0,0,0.2)}
.btn-github:active,.btn-github.active,.open .dropdown-toggle.btn-github{background-image:none}
.btn-github.disabled,.btn-github[disabled],fieldset[disabled] .btn-github,.btn-github.disabled:hover,.btn-github[disabled]:hover,fieldset[disabled] .btn-github:hover,.btn-github.disabled:focus,.btn-github[disabled]:focus,fieldset[disabled] .btn-github:focus,.btn-github.disabled:active,.btn-github[disabled]:active,fieldset[disabled] .btn-github:active,.btn-github.disabled.active,.btn-github[disabled].active,fieldset[disabled] .btn-github.active{background-color:#444;border-color:rgba(0,0,0,0.2)}
.btn-google-plus{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{color:#fff;background-color:#ca3523;border-color:rgba(0,0,0,0.2)}
.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{background-image:none}
.btn-google-plus.disabled,.btn-google-plus[disabled],fieldset[disabled] .btn-google-plus,.btn-google-plus.disabled:hover,.btn-google-plus[disabled]:hover,fieldset[disabled] .btn-google-plus:hover,.btn-google-plus.disabled:focus,.btn-google-plus[disabled]:focus,fieldset[disabled] .btn-google-plus:focus,.btn-google-plus.disabled:active,.btn-google-plus[disabled]:active,fieldset[disabled] .btn-google-plus:active,.btn-google-plus.disabled.active,.btn-google-plus[disabled].active,fieldset[disabled] .btn-google-plus.active{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
.btn-instagram{color:#fff;background-color:#3f729b;border-color:rgba(0,0,0,0.2)}.btn-instagram:hover,.btn-instagram:focus,.btn-instagram:active,.btn-instagram.active,.open .dropdown-toggle.btn-instagram{color:#fff;background-color:#335d7e;border-color:rgba(0,0,0,0.2)}
.btn-instagram:active,.btn-instagram.active,.open .dropdown-toggle.btn-instagram{background-image:none}
.btn-instagram.disabled,.btn-instagram[disabled],fieldset[disabled] .btn-instagram,.btn-instagram.disabled:hover,.btn-instagram[disabled]:hover,fieldset[disabled] .btn-instagram:hover,.btn-instagram.disabled:focus,.btn-instagram[disabled]:focus,fieldset[disabled] .btn-instagram:focus,.btn-instagram.disabled:active,.btn-instagram[disabled]:active,fieldset[disabled] .btn-instagram:active,.btn-instagram.disabled.active,.btn-instagram[disabled].active,fieldset[disabled] .btn-instagram.active{background-color:#3f729b;border-color:rgba(0,0,0,0.2)}
.btn-linkedin{color:#fff;background-color:#007bb6;border-color:rgba(0,0,0,0.2)}.btn-linkedin:hover,.btn-linkedin:focus,.btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin{color:#fff;background-color:#005f8d;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin{background-image:none}
.btn-linkedin.disabled,.btn-linkedin[disabled],fieldset[disabled] .btn-linkedin,.btn-linkedin.disabled:hover,.btn-linkedin[disabled]:hover,fieldset[disabled] .btn-linkedin:hover,.btn-linkedin.disabled:focus,.btn-linkedin[disabled]:focus,fieldset[disabled] .btn-linkedin:focus,.btn-linkedin.disabled:active,.btn-linkedin[disabled]:active,fieldset[disabled] .btn-linkedin:active,.btn-linkedin.disabled.active,.btn-linkedin[disabled].active,fieldset[disabled] .btn-linkedin.active{background-color:#007bb6;border-color:rgba(0,0,0,0.2)}
.btn-tumblr{color:#fff;background-color:#2c4762;border-color:rgba(0,0,0,0.2)}.btn-tumblr:hover,.btn-tumblr:focus,.btn-tumblr:active,.btn-tumblr.active,.open .dropdown-toggle.btn-tumblr{color:#fff;background-color:#1f3346;border-color:rgba(0,0,0,0.2)}
.btn-tumblr:active,.btn-tumblr.active,.open .dropdown-toggle.btn-tumblr{background-image:none}
.btn-tumblr.disabled,.btn-tumblr[disabled],fieldset[disabled] .btn-tumblr,.btn-tumblr.disabled:hover,.btn-tumblr[disabled]:hover,fieldset[disabled] .btn-tumblr:hover,.btn-tumblr.disabled:focus,.btn-tumblr[disabled]:focus,fieldset[disabled] .btn-tumblr:focus,.btn-tumblr.disabled:active,.btn-tumblr[disabled]:active,fieldset[disabled] .btn-tumblr:active,.btn-tumblr.disabled.active,.btn-tumblr[disabled].active,fieldset[disabled] .btn-tumblr.active{background-color:#2c4762;border-color:rgba(0,0,0,0.2)}
.btn-twitter{color:#fff;background-color:#55acee;border-color:rgba(0,0,0,0.2)}.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{color:#fff;background-color:#309aea;border-color:rgba(0,0,0,0.2)}
.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{background-image:none}
.btn-twitter.disabled,.btn-twitter[disabled],fieldset[disabled] .btn-twitter,.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled:active,.btn-twitter[disabled]:active,fieldset[disabled] .btn-twitter:active,.btn-twitter.disabled.active,.btn-twitter[disabled].active,fieldset[disabled] .btn-twitter.active{background-color:#55acee;border-color:rgba(0,0,0,0.2)}

.tooltip
{
	z-index: 999999;
}

.add-sub-folder-plus-btn
{
	padding: 8px 6px 0px 6px;
    /* display: inline-block; */
    color: #666;
	font-size: 13px;
	opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
	display: none; /* disabled for now */
}

.add-sub-folder-plus-btn:hover
{
	color: #666;
	opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.upload-button-wrapper .btn
{
    color: #ffffff;
    background-color: #21a9e1;
    border-color: #21a9e1;
}

.upload-button-wrapper .btn:hover
{
    background-color: #1a8fbf;
    border-color: #1782ad;
}

.no-results-wrapper
{
	margin: 10px 15px 0px 10px;
}

.fileManager .no-results-wrapper .no-files-upload-wrapper
{
	text-align: center;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: 700;
    color: #6e6e6e;
	margin-top: 60px;
	cursor: pointer;
	opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

.fileManager .no-results-wrapper .no-files-upload-wrapper:hover
{
	opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

panel-heading .header-home-button
{
    font-size: 16px;
    display: none;
}

panel-heading .header-home-button  a
{
	padding: 14px !important;
    display: inline-block;
}

.sidebar-mobile-menu {
    display:none !important;
}

.non-logged-in-logo
{
    padding: 6px 6px 0px 8px;
	margin: 0px;
}

.non-logged-in-logo img
{
	max-height: 40px;
}

.dropdown-menu > li > a
{
    text-align:left;
}

.file-upload-wrapper .close
{
    background: #f0f0f1;
    display: inline-block;
    padding: 0px 5px;
    line-height: 1;
    color: #787878;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
    filter: alpha(opacity=70);
    text-shadow: none;
    font-weight: 300;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    margin: 10px 10px 0px 0px;
}

.clipboard-placeholder-wrapper
{
	width: 1px;
    height: 1px;
	padding-top: 1px;
    overflow: hidden;
}

.register-page .g-recaptcha > div > div
{
	margin-left: auto;
	margin-right: auto;
}

.alert.alert-danger li, .alert.alert-success li
{
	list-style: none;
}

.edit-folder-modal .modal-content .col-md-9 .nav-tabs
{
	margin-top: 0px;
    margin-bottom: 0px;
}